:root{
    --mainColor: #606856;
    --secondaryColor: #515a48;

    --borderColor: #161914;

    --mainText: #fff;
    --secondaryText: #eee;

    --themeDotBorder:#fff;

    --previewBg: rgb(81,90,72,0.7);
    --previewShadow: #2a2f35; 

    --buttonColor: #669966;
}